@import "~bootstrap/scss/bootstrap";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $gray-900;
  color: $white;
}
